.brand__logo__container {
    margin: 0 auto;
    width: 100%;
    overflow-x: scroll;
    justify-content: flex-start;
    flex-wrap: inherit;
    display: flex;
    scrollbar-width: none;
}

@media screen and (max-width: 1200px) {
    .brand__logo__container {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .brand__logo__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}