.destacados__container {
    margin: 0 auto;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
    .destacados__container {
        margin: 0 auto;
        width: 90%;
        overflow-x: scroll;
        justify-content: flex-start;
        flex-wrap: inherit;
    }
}