.brand__logo {
    -webkit-filter: grayscale(1);
    cursor: pointer;
    filter: grayscale(1);
    opacity: .8;
    transition: .3s;
    margin: 15px;
    height: 40px;
    border-radius: 10px;
    margin: 10px 15px;
}

.brand__logo:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    opacity: 1;
    transform: scale(1.1);
}

@media screen and (max-width: 1200px) {
    .brand__logo {
        padding: 15px;
    }

    .brand__logo img {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }
}

@media screen and (max-width: 500px) {
    .brand__logo {
        padding: 30px;
    }
}