.container {
    background-color: #000;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 20px;
    width: 1200px;
    padding-bottom: 5px;
}

.SaleTimerBody {
    display: flex;
}

@media screen and (max-width: 1200px) {
    .container {
        padding-top: 10px;
        width: 98%;
    }
}

@media screen and (max-width: 500px) {
    .SaleTimerBody {
        flex-direction: column;
    }
}