.sellTimer__container {
    background-color: #000;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 20px;
    width: 100%;
    padding-bottom: 15px;
}

.SaleTimerBody {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 1200px) {
    .sellTimer__container {
        padding-bottom: 8px;
        width: 97%;
    }
}

@media screen and (max-width: 768px) {
    .sellTimer__container {
        padding-bottom: 20px;
        padding-top: 10px;
    }
}