.home__products {
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    padding-bottom: 10px;
}

.h2 {
    align-items: center;
    color: rgb(0, 0, 0);
    display: flex;
    font-size: 35px;
    font-weight: 600;
    margin: 0 15px 0 0;
    margin-bottom: 10px;
    padding-top: 10px;
}

.home__products__container {
    display: flex;
    justify-content: space-around;
    padding: 0 5px;
}

@media screen and (max-width: 1200px) {
    .home__products {
        width: 98%;
    }
}

@media screen and (max-width: 1120px) {
    .home__products__container {
        overflow-x: scroll;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 500px) {
    .h2 {
        font-size: 30px;
    }
}