.location {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 0 16px;
    margin-top: 64px;
}

.location h3 {
    margin: 8px;
    margin-left: 0;
}

.location a {
    color: #000;
    font-size: 13px;
    text-decoration: none;
    display: flex;
    align-items: center;
}