.container {
    padding: 15px;
    background: #fff;
    margin-top: 30px;
    padding-bottom: 30px;
}

.product__title {
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 15px;
    border-bottom: 2px solid #bd0000;
}