.location {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 0 20px;
}

.location h3 {
    margin: 5px 10px 5px 0;
}

.location a {
    color: #000;
    font-size: 15px;
    text-decoration: none;
}

.img {
    width: 100%;
}

/*destacados*/

.destacados__container {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 1200px;
}

/*brand logo container*/
.brand__logo__container {
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    width: 1200px;
}

/* home__categories__container */
.home__categories__container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 20px;
    width: 1200px;
}



/* @media (max-width: 1024px) {
    
}

@media (max-width: 500px) {
    
} */