.destacados__container {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    justify-content: space-evenly;
}