.modal__container {
    background-color: rgba(255, 255, 255, .8);
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.modal__content {
    background-color: #f0f0f0;
    width: 720px;
    padding: 10px 20px;
    height: 60vh;
    margin: 20vh auto;
    position: relative;
}

.modal__content__btn {
    display: block;
    margin-bottom: 32px;
}