.container {
    padding: 0 15px;
}

.categories__subcategories__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    height: auto;
    max-height: 875px;
}

.categories__subcategories__container > ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    height: auto;
    max-height: 775px;
    padding: 0 14px;
    margin-right: 5px;
    width: 163px;
}

.h3 {
    background-color: #fff;
    padding: 5px 0 5px 10px;
    color: #000;
    margin: 30px 0 0 0;
    font-weight: 600;
    display: flex;
    gap: 8px;
    align-items: center;
  }

.item_list, .item_list_container {
    list-style: none;
  }
  
.item_list button, .item_list_container button,
.item_list button:link, .item_list_container button:link {
    display: flex;
    font-weight: 600;
    text-decoration: none;
    padding: 5px;
    transition: all 0.1s linear;
    cursor: pointer;
    border: none;
    background: transparent;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }

  .item_list_container > button {
    font-size: 20px;
    color: #000;
  }
  
  .item_list button:hover, .item_list_container button:hover {
    color: rgb(206, 1, 1);
  }

  .item_list button {
    color: #495867;
    font-size: 16px;
    font-weight: 600;
  }

  .ul__categories__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: start;
  }

  @media (max-width: 1024px) {
    .categories__subcategories__container {
        max-height: 1200px;
        align-content: center;
    }

    .categories__subcategories__container > ul {
        width: 150px;
    }

    .brands__container {
        max-height: 330px;
    }

    .brand__button {
        font-size: 18px;
        margin: 0 10px 15px 0;
    }
  }

  @media (max-width: 500px) {
    .categories__subcategories__container {
        max-height: 2470px;
    }

    .item_list_container > button {
        font-size: 18px;
      }

    .item_list button {
        font-size: 16px;
      }

    .brands__container {
        max-height: 670px;
    }

    .brand__button {
        margin: 0 10px 10px 0;
    }
  }