.checkout {
    padding: 15px;
}

.h1 {
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: solid 2px #e2e2e2;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
}

.form {
    width: 60%;
    background: rgb(194, 194, 194);
}

.form__group {
    display: flex;
}

.formElement {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px;
}

.formElement input, .formElement select {
    display: block;
    border-radius: 4px;
    border: 1px solid #d3d5d7;
    background: white;
    height: 55px;
    padding: 0 15px;
    flex: initial;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    letter-spacing: 1.1px;
}