.header {
    background-color: #bd0000;
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding-right: 30px;
}

.header > div {
    display: flex;
    height: 100%;
    justify-content: end;
}

.ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.div__form__container {
    width: 100%;
}

.li {
    align-items: center;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    height: 100%;
    justify-content: center;
    margin: 0 10px;
    list-style: none;
    padding: 0 5px;
    transition: ease-in-out 0.2s;
    width: 135px;
}

.li:hover {
    background: rgb(206, 1, 1);
}

@media (max-width: 1200px) {
    .header {
        padding-right: 0;
        height: 50px;
    }

    .li {
        font-size: 16px;
        margin: 0;
        width: 120px;
    }

    .only__desk {
        display: none;
    }
}

@media (max-width: 500px) {
    .header {
        height: 50px;
        padding-right: 10px;
    }

    .only__tablet__desk {
        display: none;
    }
}