.home__category__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 235px;
}
.category__img {
    background-color: #b3b1b1;
    border-radius: 999px;
    height: 100px;
    padding: 10px;
    width: 100px;
}

.category__img img {
    height: 100%;
    width: 100%;
}

.h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    width: 90%;
}

@media screen and (max-width: 1200px) {
    .home__category__container {
        max-width: 275px;
    }

    .category__img {
        height: 80px;
        width: 80px;
    }
}

@media screen and (max-width: 500px) {
    .category__img {
        height: 80px;
        width: 80px;
    }

    .home__category__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .h3 {
        width: 70%;
    }
}