.home__categories__container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 20px;
    width: 1200px;
}

@media screen and (max-width: 1200px) {
    .home__categories__container {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .home__categories__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}