.catalogue__product {
    margin-left: .5%;
    margin-right: .5%;
    margin-bottom: 14px;
    max-width: 22%;
    padding-left: 7px;
    padding-bottom: 12px;
    padding-right: 7px;
    background-color: #fff;
    cursor: pointer;
    min-width: 155px;
}

.catalogue__product:hover {
   box-shadow: 0 0 10px rgb(190, 190, 190);
}

.product__image {
    width: 100%;
    object-fit: cover;
    border-bottom: solid 2px #bd0000;
    height: 217px;
    overflow: hidden;
    position: relative;
    background-color: #eee;
}

.product__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-out,
    -webkit-transform 0.5s ease-out;
}

.product__image img:hover {
    transform: scale(1.1);
}

.product__brand {
    font-weight: 600;
    color: #5b5b5b;
    text-transform: capitalize;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0;
}

.product__name {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 17px;
}

.product__price {
    font-weight: 600;
    font-size: 21px;
    color: #e40404;
}

.product__feature__new {
    font-weight: 600;
    font-size: 16px;
    color: #1e1e1e;
    margin-top: 10px;
    margin-bottom: 0;
    position: absolute;
    padding: 5px 10px;
    background-color: #00abffb8;
    z-index: 999;
}

.product__feature__top {
    font-weight: 600;
    font-size: 16px;
    color: #1e1e1e;
    margin-top: 10px;
    margin-bottom: 0;
    position: absolute;
    padding: 5px 10px;
    background-color: #ffff00b8;
    z-index: 999;
}

@media screen and (max-width: 1200px) {
    .catalogue__product {
        max-width: 29%;
    }
}

@media screen and (max-width: 900px) {
    .catalogue__product {
        max-width: 45%;
    }
}