.filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 30%;
    background: #fff;
    padding-top: 20px;
}

.filter__box {
    /* border: solid 2px #bd0000; */
    border-radius: 10px;
    height: 400px;
    width: 80%;
    margin-bottom: 30px;
}

.filter__title {
    margin-bottom: 15px;
}

.filter__box h3 {
    margin: 0;
    border-bottom: solid 3px #bd0000;
    color: #000;
    padding: 7px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 7px 7px 0 0;
    height: 40px;
    width: 50%;
}

.filter__container {
    padding: 15px;
    padding-top: 0;
    height: 300px;
    overflow-y: scroll;
    scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}

.category__filter__element {
    list-style: none;
}

.category__filter__element button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    padding: 0.5rem 0;
    text-align: left;
    width: 100%;
    padding-left: 10px;
    transition: all 0.2s ease;
}

.category__filter__element button:hover {
    background-color: #cecece;
}

.filter__active {
    font-weight: 700 !important;
}

.ul__category {
    margin: 0;
    padding: 0;
}

.ul__subcategory {
    margin: 0;
    padding: 0;
    margin-left: 20px;
}

@media screen and (max-width: 1024px) {
    .filter__box h3 {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .filters {
        display: none;
    }
}