.filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    min-width: 300px;
    background: #fff;
    padding-top: 20px;
    padding-left: 16px;
    box-sizing: border-box;
    margin-right: 20px;
}

.filter__box {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 30px;
}

.h3 {
    font-size: 22px;
    width: 100%;
    font-weight: 600;
    margin: 8px 0;
}

.filter__title {
    font-size: 18px;
    font-weight: 600;
}

.filter__title p {
    margin: 24px 0 8px 0;
}

.filter__container {
    padding-top: 0;
    scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}

.category__filter__element {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    padding: 16px 0 8px 0;
    margin-right: 8px;
    border-bottom: solid 2px #eee;
    text-transform: capitalize;
}

.category__filter__element a {
    text-decoration: none;
    color: #000;
    transition: all 0.2s ease;
}

.category__filter__element button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    padding: 0.5rem 0;
    text-align: left;
    width: 100%;
    transition: all 0.2s ease;
}

.category__filter__element button:hover {
    background-color: #cecece;
}

.filter__active {
    font-weight: 700 !important;
}

.ul__category {
    margin: 0;
    padding: 0;
}

.ul__subcategory {
    margin: 0;
    padding: 0;
    margin-left: 20px;
}

@media screen and (max-width: 1024px) {
    .filter__box h3 {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .filters {
        display: none;
    }
}