.destacado {
    background-color: #eae6e6;
    border-radius: 10px;
    margin: 5px;
}

.destacado > a img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    offset: 0;
}

.three {
    height: 230px;
    width: 390px;
}

.four {
    height: 220px;
    width: calc(25% - 10px);
}

@media screen and (max-width: 1200px) {
    .three {
        height: 154px;
        width: 260px;
    }
    .four {
        width: calc(50% - 10px);
    }
}