.destacado {
    background-color: #a5a5a5;
    border-radius: 10px;
    margin: 4px;
    height: auto;
    width: 31%;
}

.destacado > img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    offset: 0;
}

@media screen and (max-width: 768px) {
    .destacado {
        width: 100%;
        display: block ruby;
    }
}

/* @media screen and (max-width: 1200px) {
    .three {
        height: 154px;
        width: 260px;
    }
    .four {
        width: calc(50% - 10px);
        height: auto;
    }
}

@media screen and (max-width: 500px) {
    .three {
        height: 278px;
        width: 365px;
    }
    .four {
        height: 278px;
        width: 345px;
        margin: 10px auto;
        
    }
} */